.hamb{
  position: fixed;
  left: 0;
  top: 0;
  margin: 0px;
  padding: 50px;
  background-color: white;
  height: 100%;
  width: 20%;
}

.backdrop {
  position: fixed;
  /* z-index */
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.logoutButton{
  height: 100%;
  padding-top: 180%;
}