.hamb {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0px;
  padding: 50px;
  background-color: white;
  height: 100%;
  width: 25rem;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.hamb a {
  padding-bottom: .5rem;
  text-decoration: none;
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.90);
}

.backdrop {
  position: fixed;
  /* z-index */
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}