
.notification {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    padding: 50px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: fit-content;
    gap: 100x;
    
}

.button{
    display: flex;
    flex: 6;
    padding: 50px;

}