
.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 30px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: fit-content;
    
}

.left,
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    font-size: 20px;
    color: rgb(160, 160, 160);
}

.icon {
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-end;
  }

  .percentage {
    display: flex;
    align-items: center;
    font-size: 14px;

  }

  .positive{
    color:green;
  }