.home {
    display: flex;
}

.homeContainer {
    flex: 4;
    width: 100vw;
}


.widgets,
.charts {
    display: flex;
    padding: 10px;
    gap: 40px;
    height: fit-content;
}

.widgets {
    overflow-x: scroll;
}


.menu {
    align-items: right;
    height: 70%;
}