.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
}

body{
    background-color: lightsalmon;
}

.content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}

img{
    width: max-content;
}