.home {
    display: flex;
    width: 100%;
    margin-right: 40px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.homeContainer {
    flex: 6;
    width: 100%;
    margin-right: 40px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.group{
    flex: 4;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(220, 220, 220, 0.25);
    padding: 30px;
    color: gray;
}
